@import '~antd/dist/antd.css';

.ant-layout-sider-children {
    min-height: 950px;
}

.btn-edit {
    border-color: #00FF7F !important;
    background-color: #00FF7F !important;
    color: #fff !important;
}

.App {
    text-align: left;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}